<main>
    <form>
        <div class="container">
            <input type="text" placeholder="Word">
            <input type="text" placeholder="">
            <textarea placeholder="Translation"></textarea>
        </div>
        <div class="selection-difficulty">
            <button class="rank">1</button>
            <button class="rank">2</button>
            <button class="rank">3</button>
            <button class="rank">4</button>
            <button class="rank">5</button>
            <button class="rank">Ignore</button>
        </div>
    </form>
</main>