<main>
    <section class="container">
        <button (click)="changeBackPage()"> "<" </button>
                <input type="number" name="page" [(ngModel)]='page' (change)="changePage()">
                <button (click)="changeNextPage()">">"</button>
    </section>
    <section class="words-container">
        @for (word of WordsInput; track $index) {
        <span class="word" (click)="lookForWord(word.word)">{{word.word}}</span>
        <span class="space"></span>
        }
    </section>
</main>