:host{
    display: block;
    height: 100%;
}

.lecture-component{
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.word{
    display: inline-block;
    border-radius: .2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.word:hover{
    cursor: pointer;
}

.words-container{
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.space{
    margin: .5rem;
}

.ignore, .very-know{
    background-color: none;
}

.unknown{
    background-color: red;
}

.know{
    background-color: rgb(252, 144, 42);
}

.know-3{
    background-color: rgb(236, 192, 110);
}

.know-4{
    background-color: rgb(248, 252, 42);
}

.know-5{
    background-color: rgb(161, 252, 42);
}

