<main class="lecture-component">
    <section class="container">

        <div class="container-page">
            <button type="button" (click)="changeBackPage()"><i class="fa-solid fa-arrow-left"></i></button>
                    <input type="number" name="page" [(ngModel)]='page' (change)="changePage()">
                    <button (click)="changeNextPage()"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="word-space">
            <button (click)="moreLineSpacing()"><i class="fa-solid fa-up-long"></i></button>
            <button (click)="lessLineSpacing()"><i class="fa-solid fa-down-long"></i></button>
            <span>Line spacing: {{this.lineSpacing}}</span>
        </div>

        <div class="change-font">
            <button (click)="upSizeFont()"><i class="fa-solid fa-up-long"></i></button>
            <button (click)="downSizeFont()"><i class="fa-solid fa-up-long"></i></button>
            <span>Font size: {{this.fontSize}}</span>
        </div>

    </section>
    <section class="words-container" #wordsContainer>
        @for (word of WordsInput; track $index)
        {

                <span class="word {{getWordClass(word.word)}}"
                [ngStyle]="{'margin-bottom': this.lineSpacing + 'rem', 'font-size': this.fontSize + 'rem'}"
                (click)="lookForWordFromWebDictionary(word.word)">{{word.word}}</span>
                <span class="space"></span>

        }
    </section>
</main>