<main class="lecture-component">
    <section class="container">

        <div class="container-page">
            <button (click)="changeBackPage()"> "<" </button>
                    <input type="number" name="page" [(ngModel)]='page' (change)="changePage()">
                    <button (click)="changeNextPage()">">"</button>
        </div>

        <div class="word-space">
            <button (click)="moreLineSpacing()">Up</button>
            <button (click)="lessLineSpacing()">Down</button>
            <span>Line spacing: {{this.lineSpacing}}</span>
        </div>

        <div class="change-font">
            <button (click)="upSizeFont()">Up</button>
            <button (click)="downSizeFont()">Down</button>
            <span>Font size: {{this.fontSize}}</span>
        </div>

    </section>
    <section class="words-container">
        @for (word of WordsInput; track $index)
        {
            @if(this.wordsMapNoDuplicatedChild.has(word.word)){
                <span class="word {{getWordClass(word.word)}}"
                [ngStyle]="{'margin-bottom': this.lineSpacing + 'rem', 'font-size': this.fontSize + 'rem'}"
                (click)="lookForWordFromWebDictionary(word.word)">{{word.word}}</span>
                <span class="space"></span>
            }
        }
    </section>
</main>