:host{
    display: block;
    height: 100%;
}

.lecture-component{
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.word{
    display: inline-block;
    border-radius: .2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.word:hover{
    cursor: pointer;
}

.words-container{
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.space{
    margin: .5rem;
}

.IGNORE {
    background-color: none;
}

.NEW{
    background-color: rgb(110, 30, 30);
}

.SEEN{
    background-color: rgb(120, 55, 10);
}

.RECOGNIZED{
    background-color: rgb(85, 65, 0);
}

.VERY_RECOGNIZED{
    background-color: rgb(105, 95, 10);
}

.LEARNED{
    background-color: rgb(35, 75, 20);
}

