.lecture-view{
    height: 90dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.lecture-component{
    width: 80%;
    margin-right: 1rem;
}

app-lecture-component{
    width: 100%;
    word-wrap: break-word;
}

.dictionary-component{
    width: 30%;
    overflow-y: auto;
}
