.media{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    margin: 0 .2rem;
}

button:hover{
    cursor: pointer;
}