<main class="media">
    <button type="button" id="backward" (click)="backwardAudio()">
        <i class="fa-solid fa-backward"></i>
    </button>
    <button type="button" id="play" (click)="playAudio()">
        <i class="fa-solid fa-play"></i>
    </button>
    <button type="button" id="stop" (click)="stopAudio()">
        <i class="fa-solid fa-stop"></i>
    </button>
    <button type="button" id="fordward" (click)="forwardAudio()">
        <i class="fa-solid fa-forward fa-jello"></i>
    </button>
</main>