<form class="create-lecture">
    <div class="container">
        <legend>Nombre</legend>
        <input type="text">
    </div>
        <div class="container">
        <legend>Url diccionario</legend>
        <input type="text">
    </div>
        <div class="container">
        <legend>Url Media</legend>
        <input type="text" placeholder="Ejemplo">
    </div>
        <div class="container">
        <legend>Url Texto</legend>
        <input type="text" placeholder="">
    </div>
</form>
<button class="create-button">Crear</button>