<form class="create-lecture">
    <div class="container">
        <legend>Nombre</legend>
        <input type="text" id="name" placeholder="Nombre de la lectura" [(ngModel)]="this.name">
    </div>
    <div class="container">
        <legend>Url diccionario</legend>
        <input type="text" id="url_dictionary" placeholder="Ruta del diccionario" [(ngModel)]="this.url_dictionary">
    </div>
        <div class="container">
        <legend>Url Texto</legend>
        <input type="text" placeholder="Ingresa la ruta del archivo de texto" id="url_text" [(ngModel)]="this.url_text">
    </div>
    <div class="container">
        <legend>Url Media</legend>
        <input type="text" placeholder="Ejemplo" id="url_media" [(ngModel)]="this.url_media">
    </div>
</form>
<button class="create-button">Crear</button>