<main>
    <table class="table-home">
        <thead>
            <th>{{this.lecture}}</th>
            <th>{{this.language}}</th>
        </thead>
        <tbody>
            @for(singleLecture of this.lectures; track singleLecture.idLecture)
            {
            <tr>
                <td (click)="goToLecture(singleLecture.idLecture)" class="lecture">{{singleLecture.name}}</td>
                <td>{{this.languageLecture}}</td>
                <td><button>{{this.textButton}}</button></td>
            </tr>
            }
        </tbody>
    </table>
    <section class="container">
        <button (click)="goToNewLecture()">{{this.newLecture}}</button>
    </section>
</main>