<main>
    <table class="table-home">
        <thead>
            <th>{{this.lecture}}</th>
            <th>{{this.language}}</th>
        </thead>
        <tr>
            <td (click)="goToLecture()" class="lecture">{{this.nameLecture}}</td>
            <td>{{this.languageLecture}}</td>
            <td><button>{{this.textButton}}</button></td>
        </tr>
    </table>
    <section class="container">
        <button (click)="goToNewLecture()">{{this.newLecture}}</button>
    </section>
</main>
